.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  cursor: pointer;
  font-size: 1.75rem;
  font-weight: bold;
  position: relative;
}


@media (max-width: 1024px){
  .logo{
    font-size: 1.35rem;
  }
}